<html>
  <head>
    <title>Index | Cocktail Tree</title>
  </head>
  <body>
    <h1>Cocktail Tree</h1>
    <p>
      <h2>Search</h2>
      <a href="/search/">Go Srerch Page</a>
      <h2>Input Data Base</h2>
      <a href="/input/">Go Input Page</a>
    </p>
  </body>
</html>