<html>
  <head>
    <title>Input | Cocktail Tree</title>
  </head>
  <body>
    <h1>Cocktail Tree</h1>
    <p>
      <h2>Index</h2>
      <a href="/index/">Back to Index Page</a>
    </p>
  </body>
</html>